*.pyc
*.swp
*.sqlite3
.idea/
**/__pycache__/
venv/
.vscode/

data/**
jupyter_files/**

*.ini
/local/
/build/
/test/
/wheels/
/src/*.egg-info/
/src/**/*.c
/pypy*/
/python*/
.DS_Store
__pycache__/
__pypackages__/
.pdm.toml
.mypy_cache/

/.env
*.pyc
*.tar.bz2
*.tar.xz

/conf/settings.py
/logs/
.python-version

Pipfile
Pipfile.lock
.pytest_cache